<div class="container">
    <div class="content-wrapper">
        <h1>{{ title }}</h1>
        <div class="links-section">
            <ul class="resource-links">
                <li><a href="https://en.wikipedia.org/wiki/Bobby_Fischer" target="_blank">Bobby Fischer on Wikipedia</a>
                </li>
                <li><a href="https://en.wikipedia.org/wiki/Bibliography_of_Bobby_Fischer" target="_blank">Bibliography
                        of Bobby
                        Fischer</a></li>
                <li><a href="https://en.wikipedia.org/wiki/My_60_Memorable_Games" target="_blank">My 60 Memorable
                        Games</a></li>
                <li><a href="https://www.youtube.com/watch?v=9U62ahOSpwQ" target="_blank">Bobby Fischer Documentary on
                        YouTube</a></li>
                <li><a href="https://www.365chess.com/players/Robert_James_Fischer" target="_blank">Fischer's Games on
                        365Chess</a></li>
                <li><a href="https://www.chess.com/games/bobby-fischer" target="_blank">Fischer's Games on Chess.com</a>
                </li>
            </ul>
        </div>
    </div>
</div>