<div class="container">
  <div class="content-wrapper">
    <h1>{{ title }}</h1>
    <p class="subtitle">
      GOAT chess player Robert James Fischer learned to play chess by playing against himself.
      You can do same here.
    </p>    <div class="chess-board">
      <ngx-chessground-table></ngx-chessground-table>
    </div>
    
    <div class="links-section">
      <h2>Learn More About Robert James Fischer</h2>      <ul class="resource-links">
        <li><a href="https://en.wikipedia.org/wiki/Bobby_Fischer" target="_blank">Bobby Fischer on Wikipedia</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Bibliography_of_Bobby_Fischer" target="_blank">Bibliography of Bobby Fischer</a></li>
        <li><a href="https://en.wikipedia.org/wiki/My_60_Memorable_Games" target="_blank">My 60 Memorable Games</a></li>
        <li><a href="https://www.youtube.com/watch?v=9U62ahOSpwQ" target="_blank">Bobby Fischer Documentary on YouTube</a></li>
        <li><a href="https://www.365chess.com/players/Robert_James_Fischer" target="_blank">Fischer's Games on 365Chess</a></li>
        <li><a href="https://www.chess.com/games/bobby-fischer" target="_blank">Fischer's Games on Chess.com</a></li>
      </ul>
    </div>
      <div class="links-section my-profile-section">
      <h2>Learn More About Me</h2>      <ul class="resource-links">
        <li><a href="https://lichess.org/@/topce" target="_blank">My Lichess Profile</a></li>
        <li><a href="https://lichess.org/cN79TTRYZN6L" target="_blank">Trolling Pacer</a></li>
        <li><a href="https://lichess.org/hvB20kxqAWJv" target="_blank">Revenge of Pacer</a></li>
        <li><a href="https://lichess.org/@/topce/all" target="_blank">All My Games</a></li>
        <li><a href="https://lichess.org/@/topce/bookmark" target="_blank">My Bookmarks</a></li>
        <li><a href="https://www.gambit.lu/" target="_blank">My Chess Club: Gambit</a></li>
      </ul>
    </div>
  </div>
</div>
