<h1>{{ title }}</h1>
<div class="grid-container">
  <div class="leftmenu">
    <nav>
      <ol>
        <ul *ngFor="let item of list">
          <button (click)="onClick(item.name, item.run)">
            {{ item.name }}
          </button>
        </ul>
      </ol>
    </nav>
  </div>
  <div class="main">
    <main>
      <ngx-chessground #chess></ngx-chessground>
      <!-- <ngx-chessground-table></ngx-chessground-table> -->
    </main>
  </div>
  <div class="rightmenu">
    <button (click)="toggleOrientation()">toggleOrientation</button>
    <nav>
      <ol>
        <ul *ngFor="let item of newList">
          <button (click)="onClick(item.name, item.run)">
            {{ item.name }}
          </button>
        </ul>
      </ol>
    </nav>
  </div>
</div>
