.leftmenu {
  grid-area: leftmenu;
}
.main {
  grid-area: main;
}
.rightmenu {
  grid-area: rightmenu;
}
.grid-container {
  display: grid;
  grid-template-areas: "leftmenu main main main main main main rightmenu";
  grid-gap: 5px;
  padding: 5px;
  place-items: center;
}

.grid-container > div {
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
}

h1 {
  text-align: center;
}

h1 > mat-card-title {
  text-align: center;
  font-size: 200%;
}
