<h1>
  <mat-card-title>{{ title }}</mat-card-title>
</h1>
<div class="grid-container">
  <div class="leftmenu">
    <mat-action-list *ngFor="let item of list">
      <button (click)="onClick(item.name, item.run)">
        {{ item.name }}
      </button>
      <mat-divider></mat-divider>
    </mat-action-list>
  </div>
  <div class="main">
    <main>
       <ngx-chessground-chess-table
        #chess1
        (moves)="onMove($event)"
      ></ngx-chessground-chess-table>
      <mat-divider></mat-divider>
      <ngx-chessground #chess></ngx-chessground>
    </main>
  </div>
  <div class="rightmenu">
    <!-- <button (click)="toggleOrientation()">toggleOrientation</button> -->
    <mat-action-list *ngFor="let item of newList">
      <button (click)="onClick(item.name, item.run)">
        {{ item.name }}
      </button>
      <mat-divider></mat-divider>
    </mat-action-list>
  </div>
</div>
