<div class="container">
    <div class="content-wrapper">
        <h1>{{ title }}</h1>
        <div class="links-section">
            <ul class="resource-links">
                <li><a href="https://lichess.org/@/topce" target="_blank">My Lichess Profile</a></li>
                <li><a href="https://lichess.org/cN79TTRYZN6L" target="_blank">Trolling Pacer</a></li>
                <li><a href="https://lichess.org/hvB20kxqAWJv" target="_blank">Revenge of Pacer</a></li>
                <li><a href="https://lichess.org/@/topce/all" target="_blank">All My Games</a></li>
                <li><a href="https://lichess.org/@/topce/bookmark" target="_blank">My Bookmarks</a></li>
                <li><a href="https://www.gambit.lu/" target="_blank">My Chess Club: Gambit</a></li>
            </ul>
        </div>
    </div>
</div>